[2018-07-26 15:52] paulfantom opened #11 "Add OWNERS file"
Similar to https://github.com/openshift/installer/issues/32

CLOUD-88

[2018-08-14 14:17] #11 closed, assigned to nobody

[2018-10-02 05:22] wking opened #84 "Dropping Container Linux?"
The installer dropped support for Container Linux in openshift/installer#221.  But there appear to still be some assumptions about Container Linux in this repository (e.g. [here][1]).  Is there a plan for dropping that?  Or am I just misunderstanding something about how this operator fits into the cluster?

[1]: https://github.com/openshift/machine-api-operator/blob/f2689d525af210706c152075a7570cd

[2018-10-02 05:29] wking opened #85 "Configurable instance types on AWS?"
This could be me just not understanding how this operator is wired up, but it looks like you currently hard-code `m4.large` [here][1].  I'd have expected that information to come from [the installer][2] via the [cluster config][3].  Am I missing something?  Or is this just future work that hasn't happened yet?

[1]: https://github.com/openshift/machine-api-operator/blob/f2689d525af210706c152075a75

[2018-10-03 07:09] enxebre commented on #85
thanks @wking yes this is a todo

[2018-10-03 07:10] enxebre commented on #84
The filter assumptions are actually not applying as the ami id is passed. Yes, we might wanna change to rhcos filters or just expect always an id

[2018-10-15 19:01] wking opened #97 "Respect InstallConfig.Platform.AWS.UserTags"
This operator currently [sets `tectonicClusterID`][1], but seems to ignore [`UserTags`][2], which we use for things like `expirationDate` (openshift/release#1761).  openshift/installer#465 is in flight with a generic helper that may make it easier to get the appropriate tags, but I'm not clear on how well that will plug in here.  I'm also not sure how this plays with worker machine-sets [possibly

[2018-10-24 12:01] dgoodwin opened #104 "Definite Issue With Pods Running Before CRDs Available"
On a new cluster from openshift-install this morning I ended up no worker nodes. I had the expected MachineSets, but no Machines.

[code]

The pod appears to have started running before the MachineSet API was registered? However MachineSets did exist, just no Machines. I deleted this pod above and let the deployment recreate it, and immediately my worker Machine's were created, indicating a resync

[2018-10-29 10:14] enxebre commented on #97
Closing this as machines definition lives on the installer now
For reference:
https://github.com/openshift/installer/pull/468
https://github.com/openshift/installer/tree/master/pkg/asset/machines

[2018-10-29 10:14] #97 closed

[2018-10-29 10:14] enxebre commented on #85
Closing this as machines definition lives on the installer now
For reference:
openshift/installer#468
https://github.com/openshift/installer/tree/master/pkg/asset/machines

[2018-10-29 10:14] #85 closed

[2018-10-29 10:14] enxebre commented on #84
Closing this as machines definition lives on the installer now
For reference:
openshift/installer#468
https://github.com/openshift/installer/tree/master/pkg/asset/machines

[2018-10-29 10:14] #84 closed

[2018-10-29 18:12] sjenning opened #107 "clusterapi-manager-controllers in `CrashLoopBackOff`, bad --log-level flag"
clusterapi-manager-controllers in `CrashLoopBackOff`
[code]
fyi @rphillips

[2018-10-29 19:32] #107 closed

[2018-10-29 20:03] ingvagabund commented on #107
[code]

the flag is back

[2018-10-30 13:38] ingvagabund commented on #107
thanks @sjenning for confirmation

[2018-11-01 06:24] sunzhaohua2 opened #110 "machine-api-operator no "--config" option"
Hi, I was trying to follow https://github.com/openshift/machine-api-operator/blob/master/README.md to deploy aws actuator. I failed at step./bin/machine-api-operator --kubeconfig ${HOME}/.kube/config  --config tests/e2e/manifests/mao-config.yaml --manifest-dir manifests. I found no ''--config'' option, am I missing something?

[code]

[2018-11-02 22:37] crawford commented on #104
I just ran into this as well on libvirt. Sure enough, deleting the controllers pod caused everything to come up.

[2018-11-12 17:33] smarterclayton commented on #104
I hit this today, after deleting the controllerer pod I started getting:

[code]
2018/11/12 17:13:51 Starting the Cmd.
E1112 17:13:52.291318       1 controller.go:370] <nil>
E1112 17:13:52.398532       1 controller.go:370] <nil>
E1112 17:13:52.505595       1 controller.go:370] <nil>
[code]

[2018-11-12 18:17] sallyom commented on #104
I hit this, too, in AWS.  `openshift-install` completed successfully, bootstrap node was terminated but on closer inspection only 3 master instances were running in aws.  To fix I `oc delete pod clusterapi-manager-controllers-xxxxxblah -n openshift-cluster-api`  The controller pod deletion caused a recreate, and 3 worker instances were started/joined the cluster, then cluster was healthy.

[2018-11-12 19:04] smarterclayton commented on #104
once I killed the operator about 2-3 minutes

[2018-11-12 19:10] sallyom commented on #104
same, a few minutes

[2018-11-12 19:14] galletti94 commented on #104
Hmm. I guess something else must be going on for me then. I am seeing the worker machines but not the worker nodes... The log of the machine-controller keeps displaying the following in a loop:
[code]

[2018-11-13 17:28] benjaminapetersen commented on #104
I hit this as well, but was not able to do what @sallyom did to fix.  `oc get pods -n openshift-cluster-api` revealed no pods.  I should have copied the output here before I hacked things up.  I'm going to delete/recreate my cluster and will post better information if I continue to experience the same problem.

[2018-11-26 21:05] RobertKrawitz opened #136 "Typo in the name of the machine-healthcheck container"
The machine-healthcheck container reports its name as "machine-healhtcheck".

[2018-11-26 21:15] #136 closed

[2018-11-26 22:01] sjenning opened #138 "panic in operator e2e"
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_machine-api-operator/137/pull-ci-openshift-machine-api-operator-master-e2e-aws-operator/73/build-log.txt
[code]
`NodeRef` is nil for the machine

[2018-11-27 14:46] sjenning commented on #138
fixed by #140

[2018-11-27 14:46] #138 closed

[2018-11-29 06:13] gbraad commented on #104
currently hitting this on my local libvirt install. the master is up, the communication with libvirt is possible (`nc 192.168.126.1 16509` connects), DNS resolves, also deleted the pod as described, but nothing happens. rebooted and did the same again... how can I inspect the logs? The RBAC prevents me to get the logs (`forbidden: User "system:node:test1-master-0"cannot get pods/log in the namespa

[2018-11-29 08:34] enxebre commented on #104
I haven't been able to reproduce this. We've moved CRDs generation up to CVO https://github.com/openshift/machine-api-operator/pull/127 so assuming this was somehow a race issue it shouldn't happen anymore. This ticket is to track the original issue described by dgoodwin above so please make sure you verify it by running the same command and seeing the same logs he pasted in the description. You c

[2018-11-29 20:20] aveshagarwal opened #143 "Assign a priority class to pods"
Priority classes docs:
https://docs.openshift.com/container-platform/3.11/admin_guide/scheduling/priority_preemption.html#admin-guide-priority-preemption-priority-class

Example: https://github.com/openshift/cluster-monitoring-operator/search?q=priority&unscoped_q=priority

Notes: The pre-configured system priority classes (`system-node-critical` and `system-cluster-critical`) can only be assigned

[2018-12-03 20:06] yuqi-zhang opened #144 "The machine-api-operator overwrites taints written by either API or oc/kubectl commands"
With a cluster brought up with the 4.0 installer, it seems that the only way to apply a taint is to `kubectl edit machine ...` and add the taint much like https://github.com/openshift/machine-api-operator/blob/master/install/0000_50_machine-api-operator_02_machine.crd.yaml#L43 . If I try to do so via `oc/kubctl` or a direct Taint API call, it would get overwritten.

Is this by design moving forwar

[2018-12-03 20:07] smarterclayton commented on #144
This is a bug.  Tainting should work.

[2018-12-03 20:08] smarterclayton commented on #144
This blocks several kube conformance tests:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-all-4.0/3/#openshift-tests-sig-cli-kubectl-client-k8sio-kubectl-taint-serial-should-remove-all-the-taints-with-the-same-key-off-a-node-suiteopenshiftconformanceserial-suitek8s

[2018-12-03 20:17] wongma7 commented on #144
"// Taints are to be an authoritative list on the machine spec per cluster-api comments:"
https://github.com/openshift/machine-api-operator/blob/cbd9a1d62ba4765397e6317724b35d688f67d9fa/cmd/nodelink-controller/main.go#L396

[2018-12-03 20:20] wongma7 commented on #144
here is the cluster-api comment that the above comment is referring to:
https://github.com/kubernetes-sigs/cluster-api/blob/5a27d984f9af41aa4f952e7c36a11bfbfb042b83/pkg/apis/cluster/v1alpha1/machine_types.go#L56
"// The full, authoritative list of taints to apply to the corresponding
	// Node. This list will overwrite any modifications made to the Node on
// an ongoing basis."

so to fix this it m

[2018-12-04 16:33] derekwaynecarr opened #145 "machine-api-operator reporting version incorrectly"
The output version is `v0.0.0-was-not-built-properly`

[2018-12-04 19:10] ashcrow commented on #144
This also blocks the taint process for accessing RHCOS (which is what @yuqi-zhang is working on)

[2018-12-12 14:30] cynepco3hahue opened #149 "Add bare-metal actuator"
Hi guys,
I want to integrate our work on the bare metal actuator(runs fencing commands via IPMI) to `machine-api-operator`, but currently we only fence existing nodes without provisioning support, because of it I have trouble to implement bootstrapping logic under `baremetal-actuator` CLI(similar to https://github.com/openshift/cluster-api-provider-libvirt/blob/d82d0107b90324aa38ea23b132bae8b8da67

[2018-12-13 16:20] yuqi-zhang commented on #144
Can someone who maintains this repo comment on this? Would this be an applicable fix? It would help unblock work in the machine-config-operator. Thanks!

[2018-12-13 16:37] ashcrow commented on #144
/cc @enxebre  @paulfantom

[2018-12-19 15:21] paulfantom commented on #110
This flag was deleted and all traces of it. There is no `--config` or `tests/e2e/manifests/mao-config.yaml` anymore as deployment method changed.

[2018-12-19 15:31] #110 closed

[2018-12-19 15:34] enxebre commented on #110
the only config needed is the platform name which comes from the installer today https://github.com/openshift/machine-api-operator/blob/master/pkg/operator/config.go#L55-L80

[2018-12-23 15:14] #145 closed

[2019-01-03 17:08] ashcrow commented on #144
Can we get a response on this?

[2019-01-03 17:23] enxebre commented on #144
Thanks for reporting this. We just made machine taints additive rather than authoritative
https://github.com/openshift/machine-api-operator/pull/154 in a follow up we plan to possibly use the machine taints for reflecting only the initial state of the node
https://github.com/kubernetes-sigs/cluster-api/pull/651

[2019-01-08 13:20] enxebre commented on #104
Closing this due not being able to reproduce. Please reopen if you see this happening again.

[2019-01-08 13:20] #104 closed

[2019-01-16 17:38] pierreozoux opened #180 "Support encrypted EBS"
As an enterprise cluster operator, I need to encrypt my EC2 EBS volumes, it would be nice to have an option for that.

[2019-01-16 17:40] pierreozoux opened #181 "Support autoscaling for gpu"
This might be related to https://github.com/kubernetes/autoscaler/issues/1367.

[2019-01-16 17:41] pierreozoux opened #182 "Support scaling down to 0"
Related to #181 we'll need also to be able to scale down to 0 :)

[2019-01-29 15:26] sjenning opened #186 "Status change on idle cluster"
I see the `cluster-api-operator` status transitioning quickly from `Available` to `Progressing` and back over a few seconds, every 1-3m on an idle cluster.  The operator state should stable on an idle cluster.

From a watch on the operator status every 1s
[code]
I see this in the log when it happens
[code]
fyi @smarterclayton

[2019-01-29 15:38] smarterclayton commented on #186
Available should remain true unless you detect that you detect a
catastrophic failure (since you have multiple operands)

On Tue, Jan 29, 2019 at 10:26 AM Seth Jennings <notifications@github.com>
wrote:

[2019-01-31 15:48] luisdavim opened #190 "Support Azure"
Hi,

are  there any plans to support Azure?

Thanks,
Luis

[2019-02-05 16:47] thoraxe opened #198 "[RFE] create machineset via CLI"
Right now the only way to create a machineset is to know all of the magic settings or to essentially massage an existing machineset that the installer created for your cluster.

Being able to do something like `oc create machineset` or similar that would either spit out a valid machineset (by taking in various options) or spit out a machineset template (using current cluster defaults) would be rea

[2019-02-05 16:48] frobware commented on #198
I agree - something I would like too.

[2019-02-11 22:56] cgwalters opened #205 "no worker nodes with latest libvirt"
[code]

[2019-02-11 23:05] cgwalters commented on #205
[code]

[2019-02-11 23:08] cgwalters commented on #205
Some debugging led to:

[code]

And yeah that `providerSpec` seems clearly wrong.

I have been doing installs with [a custom installer wrapper](https://github.com/cgwalters/homegit/blob/77e0fb6ceceeea4536a5096067b2b18291eaf569/bin/okdinst) that reuses install configs.  Maybe the schema changed?

[2019-02-12 14:54] cgwalters commented on #205
Logs with `--v=8` are the same:

[code]

[2019-02-12 18:48] jlebon commented on #205
Also seeing this with both git master installer and v0.12.0. So it must have been around for a few days.

[2019-02-13 17:46] gnufied commented on #205
It is not just that the worker node is not coming up but I think libvirt install in general is broken. @Sam Batschelet pointed on slack that, this could be because of number of vcpus allocated to the master. I am going to try and bump this number and see if that fixes it.

[2019-02-15 17:48] cgwalters commented on #205
See https://github.com/openshift/installer/pull/1249

[2019-02-16 13:07] cgwalters commented on #205
See https://github.com/openshift/cluster-api-provider-libvirt/pull/115

[2019-02-18 16:12] tombarron commented on #205
Should [openshift/cluster-api-provider-libvirt#115](https://github.com/openshift/cluster-api-provider-libvirt/pull/115) have fixed this issue?  I rebuilt the installer and re-installed this morning but still have only a master, no worker, with the same symptoms reported in [installer issue#1239](https://github.com/openshift/installer/issues/1239).  This run pulled redhat-coreos-maipo-47.320-qemu.q

[2019-02-28 15:43] enxebre commented on #144
closed by https://github.com/openshift/machine-api-operator/issues/144#issuecomment-451214530
Please re open if relevant

[2019-02-28 15:43] #144 closed

[2019-02-28 15:44] enxebre commented on #186
fixed by https://github.com/openshift/machine-api-operator/pull/217/files
Please re open if relevant

[2019-02-28 15:44] #186 closed

[2019-03-01 04:49] anildhingra commented on #104
get same error again

I group "" in the namespace "openshift-machine-api"' (will not retry!)
I0301 04:46:35.651096       1 controller.go:114] Running reconcile Machine for test-qmt5x-worker-0-t8hpf
I0301 04:46:35.651274       1 actuator.go:205] Checking if machine test-qmt5x-worker-0-t8hpf exists.
I0301 04:46:35.656355       1 client.go:131] Created libvirt connection: 0xc4202aa130
I0301 04:46:35.

[2019-03-08 20:24] vrutkovs opened #245 "Machine API doesn't support `platform: baremetal`"
RHHI.Next clusters fail after bootstrap is complete:

[code]
/cc @booxter

[2019-03-08 20:26] vrutkovs commented on #245
Seem #235 would fix that

[2019-03-14 15:24] enxebre commented on #205
closing this, please reopen on the installer or https://github.com/openshift/cluster-api-provider-libvirt if relevant

[2019-03-14 15:24] #205 closed

[2019-03-14 15:26] enxebre commented on #180
please reopen against https://github.com/openshift/cluster-api-provider-aws if relevant, currently only root volume config is supported

[2019-03-14 15:26] #180 closed

[2019-03-14 15:26] enxebre commented on #149
let's track this in https://github.com/openshift/machine-api-operator/issues/245

[2019-03-14 15:26] #149 closed

[2019-03-14 15:27] enxebre commented on #181
please reopen against https://github.com/openshift/kubernetes-autoscaler if relevant

[2019-03-14 15:27] #181 closed

[2019-03-14 15:28] enxebre commented on #143
fixed by https://github.com/openshift/machine-api-operator/pull/230 and https://github.com/openshift/machine-api-operator/pull/229

[2019-03-14 15:28] #143 closed

[2019-03-14 15:46] enxebre commented on #182
One potential solution will be leveraging machineClasses for this https://github.com/kubernetes-sigs/cluster-api/blob/master/pkg/apis/cluster/v1alpha1/machineclass_types.go#L51-L56. please reopen against https://github.com/openshift/kubernetes-autoscaler if relevant

[2019-03-14 15:46] #182 closed

[2019-03-14 15:46] enxebre commented on #190
@luisdavim yes. It's in the roadmap, can't specify a landing date yet though

[2019-03-18 21:40] vrutkovs commented on #245
Fixed by #246, proper implementation with operator would be added in #235

[2019-03-18 21:40] #245 closed

[2019-04-16 15:34] openshift-merge-robot opened #288 "Future Release Branches Frozen For Merging | branch:release-4.5 branch:release-4.4"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.5`
 - `release-4.4`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2019-06-17 13:17] mjudeikis opened #328 "Duplicate credentialsrequests"
Last 2 credentials are being provisioned on Azure cluster with AzurePlatform as provider
.
[code]
One of them is OpenStack:
[code]

[code]

I suspect all file is being evaluated and because 2 last does not overwrite each other we get multiple credentials.
Should they contain all Cloud provider credentials like this? Where is the logic personalize and evaluate only required file to be created?

/cc

[2019-06-17 13:26] enxebre commented on #328
@dgoodwin is the name of the credRequest relevant for the ca-operator filtering per platform https://github.com/openshift/machine-api-operator/blob/master/install/0000_30_machine-api-operator_00_credentials-request.yaml#L39-L57?
Is an expectation for them to be named the same i.e move`openshift-machine-api-azure` to `openshift-machine-api`?

[2019-06-17 13:40] dgoodwin commented on #328
I don't think the name matters, ideally I'd like to see them contain the cloud provider in the name. The plan thus far is for the release image to deliver a credentials request for every supported cloud platform. The cred operator detects it's platform on startup and should no-op on any cred requests that are not for that platform.

[2019-06-17 13:42] mjudeikis commented on #328
Are we saying we will be deploying all requests for all platforms for all componetns to all clusters and leave credentials operators to "sort itself out"?

[2019-06-17 13:46] dgoodwin commented on #328
Correct. The goal was to give teams control of their creds in their component repos, but they need to be assembled into the release image as a central location for auditing purposes. There is only one release image not one per cloud and thus we expect to deploy cred requests for supported clouds and skip those that are not relevant.

[2019-06-17 13:55] mjudeikis commented on #328
I don't think this is right way to do this. At the moment I see AWS CredentialsRequests in my Azure cluster. The same code base will be used to deploy managed Openshift cluster on Azure and AWS, in the future other cloud providers.

Now as an Azure customer I don't want to see any reference to AWS. Considering some of these services will be First party services for their clouds and sold by cloud X

[2019-06-17 14:36] dgoodwin commented on #328
@mjudeikis can you file an issue at https://github.com/openshift/cloud-credential-operator, we will clarify the complications involves and get PM to take a look for prioritization.

[2019-06-24 11:49] gszasz opened #331 "STS workload prevents machine-controller from deleting the node object when machine has been removed from the cluster"
When OKD cluster is running a sample StatefulSet workload (2 pods) and a machine object associated with a node running one of the pods is deleted, the `node` object gets stuck in `NotReady` state.  As a result, the STS pod gets stuck in `Terminating` state and it is never going to be recreated.

**Version number:**
[code]

**Steps to Reproduce:**
1. Install OKD-4.1 cluster with NFS storage via [ku

[2019-06-26 11:50] gszasz commented on #331
[machine-api-controllers-logs.tar.gz](https://github.com/openshift/machine-api-operator/files/3329837/machine-api-controllers-logs.tar.gz)
Attaching `machine-api-controllers` logs.

[2019-06-27 08:05] gszasz commented on #331
Note that the bug is no longer present in OKD 4.1.2.  Setting `export KUBEVIRT_PROVIDER=okd-4.1.2` at the beginning solves the issue.

[2019-07-10 03:58] sohrab- opened #347 "New Node is not created when cloud VM is destroyed"
I am trying a simple resilience test. Is this a valid scenario?

I am new to this operator so sorry if this is a problem with the underlying provider and not the operator.

### Steps to reproduce

Terminate a work node EC2 instance in the AWS console.

### Excepted Behaviour

The operator detects this and spawns a new Node for that Machine.

### Actual Behaviour

EC2 instance is successfully creat

[2019-07-10 05:16] vikaschoudhary16 commented on #347
@sohrab- This a known behavior. Removing machine by deleting the cloud instance is not expected way. Machine should be removed through machineset only.

Now explanation for the behavior:
Newly created instance could not get registered as k8s node. Why? Because csr approver, https://github.com/openshift/cluster-machine-approver, did not approve the csr for the new instance as a security policy. And

[2019-07-10 05:16] #347 closed

[2019-07-10 07:27] sohrab- commented on #347
Thanks @vikaschoudhary16.

A few of more questions:

1. When you say "known behaviour", do you mean this is working as designed or a known bug?
1. If this is expected, is there any other way to protect against worker loss automatically?
1. How can we clean-up those orphan Machines now? The underlying instances are gone. Do I need to get into etcd for this?

[2019-07-10 07:35] enxebre commented on #347
@sohrab- thanks for reporting feedback. The machine API is your source of truth for managing machines therefore terminate nodes via console is not recommended. As a workaround for the inconsistent status you have two choices:
1 - To add the ```machine.openshift.io/exclude-node-draining``` annotation to the orphan machine so then deletion will go through (this is fixed in new versions so there won'

[2019-08-08 19:54] sadasu opened #372 "Create Volume type for use by the Baremetal deployment"
The shared volume type needs to be created by the MAO for use by the Baremetal deployment.

[2019-08-08 20:11] sadasu commented on #372
Fix is in : https://github.com/openshift/machine-api-operator/pull/373

[2019-08-13 09:22] RiRa12621 opened #376 "Stop logging to stderr by default"
All components are logging to stderr by default.
This is spamming the logs and makes debugging a cluster unnecessarily hard.
Log levels should reflect, what the log contains, err --> an error, info --> an information (eg "syncing foo from bar"), this is also valid for the place to where logs are sent.

a log going to stderr will automatically be categorized as 'err' level log by industry standard

[2019-08-21 17:51] #372 closed

[2019-09-13 12:58] #328 closed

[2019-09-13 12:59] enxebre commented on #190
This is supported now

[2019-09-13 12:59] #190 closed

[2019-09-13 13:00] #331 closed

[2019-09-13 15:25] dhellmann opened #397 "BareMetalHost CRD not being installed"
The CRD defined in `install/0000_30_machine-api-operator_13_baremetalhost.crd.yaml` is not being installed when the machine-api-operator launches, which means that the metal3 app crash loops on baremetal systems.

[2019-09-13 15:26] dhellmann commented on #397
/assign @sadasu

[2019-09-13 15:26] dhellmann commented on #397
/label platform/baremetal

[2019-09-13 15:27] dhellmann commented on #397
/label "platform/baremetal"

[2019-09-13 15:28] wking commented on #397
Probably want to either attach gathered logs here or point us at a CI run demonstrating the issue.

[2019-09-13 15:29] dhellmann commented on #397
Here's some relevant log output:

[code]

[2019-09-16 19:29] sadasu commented on #397
Fix proposed in https://github.com/openshift/machine-api-operator/pull/398

[2019-09-17 07:33] enxebre commented on #397
hey @sadasu the manifests under ./install are managed by the CVO, the fix proposed is unrelated. See https://github.com/openshift/cluster-version-operator/blob/master/docs/dev/operators.md#operator-integration-with-cvo
The CRD is installed
[code]

[2019-09-17 13:49] sadasu commented on #397
Yes. I definitely see a timing issue. Can I change the priority of the baremetal crd to something < 30 but still leave it in the install directory of the machine-api-operator?

[2019-09-17 14:01] enxebre commented on #397
you can just set it at the level of the other CRDs here e.g `0000_30_machine-api-operator_08_*.crd.yaml` which happens before `0000_30_machine-api-operator_11_deployment.yaml` which is the piece running your component.
Aditionally your component could retry on failure

[2019-09-17 14:06] sadasu commented on #397
Good point. Didn't realize that I could "re-use" a level of another CRD. Let me give it a try with this change. And, additionally adding retry logic would be good.

[2019-09-17 14:46] dhellmann commented on #397
The metal3 deployment will just crash loop until the CRD is installed, so that's fine. The problem is that the *installation* is failing, because the installer is trying to register resources that use the CRD. It retries, but eventually times out. So, we need that CRD installed as early as possible.

[2019-09-17 15:01] enxebre commented on #397
I see, why are those resources not owned by the component?

[2019-09-17 15:25] dhellmann commented on #397
I don't understand the question. I think you're asking why the installer creates them, instead of metal3? The host resources are associated with the master nodes, and allow the baremetal platform to monitor them. The data in the CRs comes from the installer, and is not available from any source inside the cluster. This is similar to how the Machine resources for the master nodes are created by the

[2019-10-09 09:07] derekhiggins opened #407 "openshift-tests: Pods found with invalid container image pull policy not equal to IfNotPresent"
Running openshift-tests against a baremetal ipi deployed cluster fails with

fail [github.com/openshift/origin/test/extended/operators/images.go:142]: Oct  7 09:22:27.146: Pods found with invalid container image pull policy not equal to IfNotPresent:

[code]
test here
openshift-machine-api/
https://github.com/openshift/origin/blob/4f3d9bd4502a841922b35914d0fd3036d54c5e64/test/extended/operators/im

[2019-10-09 09:15] derekhiggins opened #409 "openshift-tests: Managed cluster should ensure control plane pods do not run in best-effort QoS"
openshift-tests complains about the Qos of the baremetal pod

failed: (1.3s) 2019-10-07T13:21:43 "[Feature:Platform][Smoke] Managed cluster should ensure control plane pods do not run in best-effort QoS [Suite:openshift/conformance/parallel]"

openshift-machine-api/metal3-788d885944-vn99t is running in best-effort QoS

https://github.com/openshift/origin/blob/32e88dec78fa081dafa31c9ea1d79897761a0c

[2019-10-09 13:31] dhellmann commented on #409
/label platform/baremetal

[2019-10-09 13:33] dhellmann commented on #409
/platform baremetal

[2019-10-11 00:42] #407 closed

[2019-10-18 20:10] sadasu opened #418 "Update vendored openshift/api code"
The openshift/api code that is vendored with the machine-api-operator is currently outdated. I would like to make enhancements to the MAO that include accessing the "BareMetalPlatformStatus" structure in openshift/api/config/v1/types_infrastructure.go

[2019-10-21 19:08] sadasu commented on #418
/assign @sadasu

[2019-10-30 16:33] arvin-a opened #431 "No new Machinesets get scheduled if there is an existing machineset with configuration issues"
Version: 4.1.20

How to reproduce:
Create two machineset yaml files. config1 should have an incorrect entry such as a label with a boolean value that is not in quotes (ex: ssd: false). The second should be properly formed. Apply the first yaml with the error then apply the second one without the error.

Result:
Any machineset created after the incorrect one will not be scheduled until the bad one

[2019-10-31 08:06] cynepco3hahue commented on #431
can you please provide machine controllers logs? because it looks more like a cluster-api controllers problem.

[2019-11-14 08:05] #376 closed

[2019-11-17 08:24] faust64 opened #438 "GenerateMachineConfigsforRole failed with error failed to read dir"
Hi,

I'm seeing a recurring message out of the machine-config-controller, which goes like this:

[code]

Note that I did add an "infra" machineconfigpool:

[code]

Using rsh, I eventually tried and created a symlink, having /etc/mcc/templates/infra pointing to /etc/mcc/templates/worker, which seems to calm it down. Though eventually, the controller crashes, restarts, and back to zero. ( which is a

[2019-12-04 15:20] Jamstah opened #444 "Node Controller link broken in README.md"
There's a link to the Node Controller in the README, that link goes to a 404.

I don't know the history, so maybe this just needs removing? Or updating to something else?

[2019-12-13 23:34] sadasu opened #451 "Update the image name for ironic-rhcos-downloader"
The ironic-rhcos-downloader image has been renamed to ironic-machine-os-downloader. Fix all image references for this image.

[2019-12-13 23:36] sadasu commented on #451
/assign @sadasu

[2019-12-17 15:33] #451 closed

[2020-01-12 04:01] openshift-merge-robot opened #463 "Future Release Branches Frozen For Merging | branch:release-4.5 branch:release-4.4"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.5`
 - `release-4.4`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2020-01-12 05:00] #288 closed

[2020-01-14 11:17] #397 closed

[2020-01-28 19:05] sadasu commented on #418
This is no longer required.

[2020-01-28 19:05] #418 closed

[2020-01-31 16:19] elmiko opened #484 "Makefile only supports Docker not Podman"
currently the Makefile only appears to use the commands `docker` or `imagebuilder` for doing some of it's targets. this makes it difficult for systems that do not have docker, or restrict access to the docker daemon. additionally, the `imagebuilder` command does not seem to have instructions on where to find/install it.

i am wondering if we could add some detection logic to use `podman` as an alt

[2020-01-31 16:22] elmiko commented on #484
i am seeing that by setting `NO_DOCKER=1` i can run the makefile without needing access to docker, perhaps this should be added to the documentation?

[2020-02-13 22:53] elmiko commented on #444
i looked around the main readme but i didn't see the link you were talking about. which readme file is this in, could you give a reference link with the file number?

[2020-02-15 16:08] Jamstah commented on #444
It was there when I raised it :)

https://github.com/openshift/machine-api-operator/blob/829aed455755535b778f8ab298fd3c86c79dfb13/README.md

README doesn't include that link any more.

[2020-02-15 16:08] #444 closed

[2020-02-15 17:37] elmiko commented on #444
no worries, thanks for closing the issue!

[2020-03-17 18:59] srirammageswarank opened #522 "Precedence in Cloud Identification"
The machine api now is getting the cloud it is running in infrastructure object.

https://github.com/openshift/machine-api-operator/blob/master/pkg/operator/operator.go#L253-L258

https://github.com/openshift/machine-api-operator/blob/94398d11715b820f0bd79377b3cc702754f2ea02/pkg/operator/config.go#L63-L68

Can it be configured to be read from a config map and default to the infrastructure Object .

[2020-04-28 10:56] miyadav commented on #431
Have a look at - https://github.com/openshift/machine-api-operator/pull/550 , above should be  resolved

[2020-06-09 08:57] lelvisl opened #612 "cluster-api"
Is this project compatible with https://github.com/kubernetes-sigs/cluster-api?

[2020-06-09 11:14] enxebre commented on #612
This operator focuses on `machine.openshift.io` machine management within the OCP context, e.g it assumes a [cluster version operator](https://github.com/openshift/cluster-version-operator) for [installing resources](https://github.com/openshift/machine-api-operator/tree/master/install).

`machine.openshift.io/v1beta1` is heavily based on the v1alpha1 cluster API machine/machineSet types. This pro

[2020-07-23 13:45] elmiko opened #654 "Update metrics doc with provider controller information"
Currently the [metrics doc](/docs/dev/metrics.md) contains information about getting metrics from the machine-api-operator. There are a few metrics that get exposed from the individual controllers as well, most notably the `mapi_instance_*_failed` metrics. These metrics, and instructions about where to scrape, should be added to the document.

[2020-07-23 13:45] elmiko opened #655 "Update metrics doc with controller specific information"
Currently the [metrics doc](/docs/dev/metrics.md) contains information about getting metrics from the machine-api-operator. There are a few metrics that get exposed from the individual controllers as well, most notably the `mapi_instance_*_failed` metrics. These metrics, and instructions about where to scrape, should be added to the document.

[2020-07-23 13:45] elmiko commented on #655
/kind documentation

[2020-07-26 14:11] jomeier opened #658 "[vSphere] Hashed machine names not working with external load balancer and ingress"
Hi,

in our setup we have an external load balancer (Citrix Netscaler) before our OpenShift 4.5 cluster on vSphere.

If we add a new Machine (increasing MachineSet by 1) in OpenShift, a new VM is created in vSphere where the name of the VM consists of the MachineSet name and a random string hash e.g.: "workers-sdfsda".

If one of the ingress pods is scheduled to this new VM, the problem is that th

[2020-07-27 15:06] elmiko commented on #655
oops this is a duplicate of #654

[2020-07-27 15:06] #655 closed

[2020-07-27 15:06] elmiko commented on #654
/kind documentation

[2020-07-27 18:53] abhinavdahiya commented on #658
I think you will be better suited to writer a connector that can go from `ready nodes` => `lb backend pool manager`

[2020-08-28 09:29] kahootali opened #690 "MachineHealthCheck not working if Node goes down"
I have Openshift 4.5.4 cluster on AWS, and I am using mixture of Spot Instances & on-demand instances as worker nodes, the issue is Spot Instances can terminate at any time, so I was looking into MachineHealthCheck, and applied one but it isn't doing anything. What happens is node gets terminated, Machine goes into Failed State, MachineSet shows 0 of 1 instance, MachineHealthCheck also shows 0 hea

[2020-08-31 13:10] enxebre commented on #690
Hey @kahootali a spot instance termination event don't even need to be covered by a Machine Health Check. We run a termination handler for each spot instance node that would delete the failed machine to let the machineSet create a new one towards the expected number of replicas.
If the new node is not coming up it might be AWS not being able to satisfy the spot request for the new machine resource

[2020-09-29 12:37] hchenxa opened #713 "how to recover the master node when the master machine status is Failed"
I have a OCP cluster deployed on GCP. I have 3 master nodes + 6 worker nodes.

And after running for some days, one of my master node was failed and 3 of the worker nodes failed as well.

for worker nodes, I can delete the worker machine CR in openshift-machine-api namespace it let the machine-operator create  new workers.

but for master nodes, delete the master machine will not trigger to re-cre

[2020-10-23 02:28] zaneb opened #736 "MachineHealthCheck fights with MachineSet on invalid configuration"
The enhancement doc for the Machine lifecycle [states](https://github.com/openshift/enhancements/blob/master/enhancements/machine-api/machine-instance-lifecycle.md#failed) that a Machine will move to the `Failed` phase if there is an error in the Machine configuration that precludes trying to create a provider.

The MachineHealthCheck controller will [immediately delete](https://github.com/openshi

[2020-10-23 02:29] zaneb commented on #736
/cc @n1r1 @beekhof

[2020-10-23 10:07] JoelSpeed commented on #736
We discussed an issue very similar to this yesterday during backlog grooming.

We discussed several ideas during that call:

1. Introduce some sort of backoff mechanism
    The MHC controller would keep track of when it had last remediated a machine from a particular MHC and try to detect hot loops and back-off. This is technically complex and would be tough to implement.

2. Introduce a `minimumA

[2020-10-23 10:25] Danil-Grigorev commented on #736
`MachineHealthChecks` are evaluating `Machine` health based on the `Node` conditions. `Machine` resource here is just a bridge to the unhealthy Node resource. Option 3 seems most sane, as we should not remidiate `Machines` without a valid `nodeRef`, and we _should_ be dependent on the `NodeStartupTimeout` from `MHC` for expected `Node` creation, before removing any `Machine` resource. Including bu

[2020-10-23 12:17] michaelgugino commented on #736
I want spot instances to not go failed.  They should spin until the price/capacity is available.

[2020-10-23 14:07] zaneb commented on #736
My plan for the baremetal provider (implemented in openshift/cluster-api-provider-baremetal#113) when there is no capacity available is to:
* Retry after a delay in case capacity becomes available
* Set an `ErrorMessage `so that if the MachineSet is scaled down then the Machine with no provider goes first
* Do **not** go to the `Failed` phase
* Obviously clear the `ErrorMessage` once provisioning

[2020-10-23 14:13] JoelSpeed commented on #736
I think this could work with spot, technically the error message field is meant for terminal errors only though. I'm not sure if the Machine Controller (presently) will set this field unless the machine has gone failed. We should check this, but it may also be able to be changed.

Are we talking here about Machines that go failed because of bad config? Would that not just cause a new machine to be

[2020-10-23 14:30] zaneb commented on #736
It doesn't set it at present, but you can set it directly in the actuator (in fact, in the upstream Machine API it's always the actuator that sets it, and a separate controller looks for error messages and changes the Phase). It's a slight hack, but it displays useful information to the user (the Machine is `Provisioning` but there's an error because capacity is not available) and gets the Machine

[2020-10-24 22:34] bdurrow opened #737 "Feature Request: Allow for local-ssd in GCP Actuator"
No response on previously created issues[1][2] so I'm giving it another try here.
[1] https://github.com/openshift/cluster-api-provider-gcp/issues/124
[2] https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/316

Given that GCP local-ssds are very performant and with a 3 year commitment less expensive than pd-standard (I do not believe you can get commitment discounts on other storag

[2020-10-25 08:52] n1r1 commented on #736
I'm wondering if the ProviderSpec can be invalid at some point of time but become valid after a while.
For example, in the baremetal case, maybe the image url was not reachable at the time of machine creation, but later it would be reachable.

`NodeStartupTimeout` could be too long for such scenarios on one hand, and hot looping create-delete machines is very confusing for the end user.

So maybe

[2020-10-26 11:42] JoelSpeed commented on #736
For example, in the baremetal case, maybe the image url was not reachable at the time of machine creation, but later it would be reachable.

In this case I would have said that the actuator should not return an invalid configuration error if you think this is a non-terminal error and that instead, you should requeue after some time period. Is this something you'd expect to happen often?

There isn

[2020-10-26 12:15] n1r1 commented on #736
The CAPBM actuator currently returns invalid conf error only if the fields are missing, so it matches your description.

[2020-10-27 13:31] rvanderp3 commented on #713
This might be what you are looking for in terms of recreating that failed master: https://docs.openshift.com/container-platform/4.5/backup_and_restore/replacing-unhealthy-etcd-member.html#restore-replace-stopped-etcd-member_replacing-unhealthy-etcd-member

[2020-11-01 07:36] #198 closed

[2020-11-19 14:46] #409 closed

[2020-11-21 20:53] #438 closed

[2020-11-26 09:12] #484 closed

[2020-12-02 09:37] #522 closed

[2020-12-07 21:58] #431 closed

[2020-12-19 10:39] #612 closed

[2020-12-30 11:19] #654 closed

[2020-12-30 11:19] #658 closed

[2021-01-25 15:45] zaneb commented on #736
/remove-lifecycle stale

[2021-01-25 15:59] JoelSpeed commented on #736
@mshitrit This is relevant to the conversation we had last week

[2021-01-28 19:11] #690 closed

[2021-02-27 12:41] hchenxa commented on #713
thanks @rvanderp3.

[2021-02-27 12:41] #713 closed

[2021-03-19 19:07] zaneb commented on #736
Looks like this will be addressed by #814 (openshift/enhancements#673).

[2021-03-24 23:27] #737 closed

[2021-06-17 19:59] zaneb commented on #736
/remove-lifecycle stale

[2021-06-20 11:36] gyohuangxin opened #877 "kubeRBACProxy image are not available in pkg/operator/fixtures/images.json"
When I run the machine-api-operator locally with command `$ ./bin/machine-api-operator start --kubeconfig ${HOME}/.kube/config --images-json=pkg/operator/fixtures/images.json`, the kubeRBACProxy image  cannot be downloaded:
[code]
There is no v4.0.0 tag in https://hub.docker.com/r/openshift/origin-kube-rbac-proxy/tags?page=1&ordering=last_updated

[2021-11-14 21:38] #736 closed

[2021-11-17 15:43] #877 closed

[2022-05-12 20:22] asm582 opened #1014 "Unable to deploy machinesets on IBM Cloud"
Hello,

I am trying to deploy machineset by referring documentation found here: https://docs.openshift.com/container-platform/4.10/machine_management/creating_machinesets/creating-machineset-ibm-cloud.html

I get the below error -
`no matches for kind "MachineSet" in version "machine.openshift.io/v1beta1"`

Any help is much appreciated, thanks

[2022-05-23 21:51] asm582 opened #1020 "Bandwidth specs not available for nodes added by Machineset API in AWS"
Hello,

We do see the P3 instance provide bandwidth metrics here:

![Screen Shot 2022-05-23 at 5 33 19 PM](https://user-images.githubusercontent.com/5898557/169911095-414ee895-7a2f-4555-8f65-923e62217203.png)

But the same bandwidth metrics (Network bandwidth and EBS bandwidth) are not visible in CR, Any thoughts?

[2022-08-22 01:21] asm582 commented on #1020
/remove-lifecycle stale

[2022-08-29 16:26] sghoshpzs opened #1058 "Need mertics on maxReplicas and minReplicas of MachineAutoscaler"
It would be great if you can please publish a Prometheus metrics for maxReplicas of MachineAutoscaler . We have to manually compare the current number of replicas with max replicas on ROSA platform and increase the maxReplicas if current node count reach maxReplicas

[2022-09-15 15:13] asm582 commented on #1014
/lifecycle rotten
/remove-lifecycle stale

[2022-10-16 00:01] #1014 closed

[2022-10-17 16:58] asm582 opened #1077 "Labels do not propagate to node(s) from machineset API"
Machinset API allows the setting of labels but those labels do not propagate to node(s), Ideally we would want labels to flow as:

user labels on -> Machineset -> Machine -> (does not happen)Node.

Is the above behavior by design?

[2022-10-17 17:05] asm582 opened #1078 "Failed Nodes are not retried by Machineset API"
When a node spawned by machineset fails to come `up` such node is not retried by machineset. The desired bahavior would be to release the current node and launch another one.

We did wait for 4 mins so allow machineset API to spawn a fresh node but the failed node was never deleted. is this working as expected?

[2022-11-23 01:40] asm582 commented on #1020
/remove-lifecycle stale